.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cardContainer, .scoreContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.questionContainer {
  padding: 50px 100px 0 100px;
}

.search {
  padding: 20px 0 0 0;
}

.image {
  max-height: 200px;
  min-height: 200px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  max-height: 80px;
}
